@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}

html {
  font-size: 1.5rem;
}

body {
  background-image: url("./asset/bg3.jpg");
  font-family: "Nunito", sans-serif;
  background-repeat: inherit;
  background-size: 100%;
}

p {
  color: whitesmoke;
  margin-top: 0.5em;
}

article {
  margin: 1em;
  padding: 1em;
  background-color: midnightblue;
  color: whitesmoke;
  border-radius: 15px;
}

img {
  border-radius: 15px;
  display: block;
}

header {
  background-color: gold;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 2rem;
}

.search {
  width: 100%;
  border: 2px solid #000;
  border-radius: 2em;
  overflow: hidden;
  font-size: 1rem;
  padding-left: 40px;
  margin-right: 120px;
}

.search:focus-within {
  box-shadow: 2px 2px 5px #000;
}

.search__button,
.search__input {
  background-color: #fff;
  border: none;
  outline: none;
}

.search__input {
  padding: 1em;
  width: 85%;
}

h3 {
  padding-top: 50px;
}

@media (min-width: 576px) {
  .search {
    font-size: 1rem;
  }

  .search__button {
    font-size: 2rem;
  }

  .title {
    
    padding-right: 40px;
  }
}

@media (min-width: 800px) {
  .search {
    width: 75%;
    font-size: 2rem;
  }

  .search__button {
    padding-right: 0.5em;
    font-size: 3rem;
  }

}
